.navContainer {
  background: $primaryColor;
  color: $secondaryColor;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 120%;
  h1, a{
      margin-left: 2vh;
      color: $secondaryColor;
      text-decoration: none;
  }
}

@media(max-width: 1000px){
  .navContainer{
    width: 100%;
    padding: 1vh 0;
    flex-direction: column;
    h1, a{
      margin-bottom:1vh;
    }
  }
}
