.singleSurveyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
  width: 90%;
  text-align: center;
  .survey {
    width: 40%;
  }
  .responses {
    width: 60%;
    .indvResponse{
      margin: 10vh;
    }
  }
}
@media(max-width: 1000px){
  .singleSurveyContainer {
    flex-direction: column;
    .survey {
      width: 90%;
    }
    .responses {
      .indvResponse{
        margin: 2vh 0;
        border: 1px solid black;
        border-radius: 10px;
      }
    }
  }
}